* {
    box-sizing: border-box;
    margin:0;
    padding:0;
}

body {
 background-color: rgb(105, 131, 170);
 display:flex;
 flex-direction: column;
 align-items: center;
 text-align: center;
 height: 100vh;
 padding-top: 5vh;
}
h1 {
    font-size: 70px;
}
h2 {
    font-size: 50px;
    letter-spacing: 2px;
}
.info>p
 {
    font-size: 50px;
 }
img {
    width:50%;
    aspect-ratio: 1;
}
button {
    width:150px;
    height: 80px;
    background-color: rgb(39, 228, 39);
    font-size: 60px;
    border-radius: 10px;
    transition: .3s;
}
button:hover {
    transform: scale(1.1);
    background-color: rgb(36, 146, 36);
}


.title {
    display:flex;
    flex-direction: column;
    gap:8vh;
}

.container {
    margin-top: 2vh;
    padding:3%;
    display:flex;
    justify-content: center;
    align-items:100%;
    gap:3vw;
}

.container>div {
    background-color: white;
    border-radius: 5px;
    padding:10px;
    flex:1;
    transition: .3s;
}

.container>div:hover {
    box-shadow: 8px 8px 24px 0px rgba(66, 68, 90, 1);
    transform:scale(1.1);
}

.chosen {
    border:8px solid rgb(39, 228, 39);
    box-shadow: 0 0 10px rgb(39, 228, 39);

}

.playerWin {
    background-color: rgb(39, 228, 39) !important;
}

.playerLose {
    background-color: red !important;
}

.draw {
    background-color: grey !important;
}